**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**


**/.localstack
Fawkes/volumes3
Fawkes/api/data
volumes


# Docker files
Dockerfile
Dockerfile*
docker-compose.yml
.dockerignore

# Yarn
**/.yarn/cache
**/.yarn/install-state.gz
**/.yarn/unplugged
**/.yarn/sdks