version: "3.7"
services:
    postgres1:
        image: postgres:14-alpine
        environment:
            PGUSER: postgres
            PGPASSWORD: password
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres
            POSTGRES_PASSWORD: password
            ARCHIVE_MODE: "on"
            WAL_LEVEL: "logical"
            ARCHIVE_TIMEOUT: 60
        ports:
            - "5435:5432"
        volumes:
            - ./volumes/postgres/:/var/lib/postgresql/data/
            - ./keys/:/keys/

    s3:
        image: minio/minio:RELEASE.2020-03-25T07-03-04Z
        environment:
            MINIO_ACCESS_KEY: admin
            MINIO_SECRET_KEY: password
        ports:
            - "9010:9000"
        volumes:
            - ./volumes/minio/:/data
        entrypoint: sh
        command: >
            -c 'mkdir -p /data/pg
            && /usr/bin/minio server /data'
